// You can apply style directly to a component
app-country {
    margin: 0.2em;
  }
  
  .country {
    width: 40%;
  }
  
  .country-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  