
<mat-card class="border" (click)="onClick(company.id)">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{company.name}}
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="company.iconImage" alt="">
  <mat-card-content>

    <p>Secteur: {{company.activitySector}}</p>
    <p>Avis: {{company.rating}}</p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>See detailis</button>
  </mat-card-actions>
</mat-card>
