//@import '../../../styles/card.scss';
//
.border:hover {
  cursor: pointer;
}
//
//.icon {
//  border-color: #282828;
//  display: inline-block;
//}
.border {
  width: 250px;
  height: 500px;
}

.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqmzq1D6O3dU1oV8ke5FDABeYJdmGtg-yHY_3ib970uguET8ND');
  background-size: cover;
}
