.search{
  width: 100%;
  height: 15%;
  margin: 10px;
  border: 1px solid #282828;
}

#result{
  display: inline-block;
  float: right;
  margin-right: 50px;
}

#confirm_button{
  background-color: antiquewhite;
  border: 2px solid black;
  color: black;
  padding: 12px 30px;
  display: inline-block;
  font-size: 16px;
}

#confirm_button:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}
