<!--<div class="search" (change)="internshipFilter()" )>-->
<div class="search">
  <span><input type="text">&nbsp;&nbsp;&nbsp;</span>
  <span><input type="checkbox" name="category" value="A ete reconduit CDD/CDI">A ete reconduit CDD/CDI &nbsp;&nbsp;&nbsp;</span>
  <span><input type="checkbox" name="category" value="Voiture de fonction">Voiture de fonction&nbsp;&nbsp;&nbsp;</span>
  <span><input type="button" name="comfirm" value="verifier" id="confirm_button">&nbsp;&nbsp;&nbsp;</span>
  <span id="result">9 resultats</span>
</div>
