<!--<div class="search" (change)="internshipFilter()" )>-->
<form class="search-form" [formGroup]="internshipForm" (change)="internshipFilter()">
  <span>
    <input type="text" (focus)="onFocus()" (ngModelChange)="onInput()" (focusout)="onBlur()" class="form-control" id="search" [formControlName]="'name'" (input)="onSearchChange($event.target.value)">
      <span class="item" id="item-div">
        <ul id="list">
        </ul>
      </span>
  </span>
  <button [value]="" (click)="internshipFilter()">submit</button>
  <span><input type="checkbox" id="contract" [formControlName] ="'contractRenewed'" value="" [checked]="true">A ete reconduit CDD/CDI &nbsp;&nbsp;&nbsp;</span>
  <span><input type="checkbox" id="car" [formControlName] ="'hasCompanyCar'" value="" [checked]="true">Voiture de fonction &nbsp;&nbsp;&nbsp;</span>
  <!--<span>-->
        <!--<span *ngIf="'name' == 'A ete reconduit CDD/CDI'"><input type="checkbox" id="contract" [formControlName] ="'hasCDIouCDD'" value="" [checked]="true">A ete reconduit CDD/CDI &nbsp;&nbsp;&nbsp;</span>-->
        <!--<span *ngIf="'name' == 'Voiture de fonction'"><input type="checkbox" id="car" [formControlName] ="'hasVoiture'" value="" [checked]="true">Voiture de fonction &nbsp;&nbsp;&nbsp;</span>-->
  <!--</span>-->
  <span id="result">2 resultats</span>
</form>

