<div class="container">
<div class="grid-contact">
  <div class="grid-name">
    <label id="receiverName">To:</label>
    <input type="text" name="receiverName" value="{{receiver.firstName}}({{receiver.email}})" >
  </div>
  <div class="grid-title">
    <label id="subject">Subject:</label>
    <input type="text" name="subject">
  </div>
  <label id="content">Content:</label><br>
  <textarea type="text" name="content" cols="60" rows="10"  required="required"></textarea>

  <div class="grid-email">
    <a href="mailto:{{receiver.email}}">
      <span class="fas fa-envelope"></span>
      {{receiver.email}}
    </a>
  </div>
</div>
</div>
