<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="wrapper">
  <header class="header">
    <ul class="navigation">
      <li><a href="#">
        <img src="https://d1guu6n8gz71j.cloudfront.net/system/asset/logos/209126/logo.png?1446572859">
      </a> </li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header>
  <article class="main">
    <h1>Student: Liu jiazen</h1>

    <br>

    <p>Spécialité: SI</p>

    <p>Numéro de téléphone: 0660123456</p>

    <p>Adresse email: jiazen.liu@etu.unice.fr</p>
  </article>
  <aside class="aside aside-1"></aside>
  <aside class="aside aside-2">Aside 2</aside>
  <footer class="footer">Footer</footer>
</div>
