<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--Navbar-->
<div class="backhead">
  <p><br><br><br><br><br><br></p>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="http://www.polytech.unice.fr">
    <img src="https://d1guu6n8gz71j.cloudfront.net/system/asset/logos/209126/logo.png?1446572859" alt="">
  </a>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="homePage" id="nav-home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search-companies" id="nav-com">Entreprises</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search-internship" id="nav-intern">Stages</a>
      </li>

    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->

</nav>


</div>

<div class="container-fluid">
<div class="row">
  <div class="col-2"></div>
  <div class="col">
    <h1>Etudiant:  {{student.firstName+' '+student.lastName}}</h1>  
    <br>  
    <p>Spécialité: {{student.sector}}</p>  
    <p>Adresse email: {{student.email}}</p>
  </div>
  <div class="col-4">
    <img [src]="student.profilePicture">
  </div>
</div>
  <button (click)="onClick(student.id)">Email</button>
  <footer class="page-footer font-small blue pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://localhost:4200/homePage"> Huangmajia.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>
