<div class="internship" xmlns="http://www.w3.org/1999/html">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <div class="internshipInfo">
    <div class="item">
    <!--<div class="item" onclick="alert('It is not finished yet!')">-->
      <div class="item-left">
        <p id="postname">{{internship.name}}</p>
        <p class="postdetail">Duree: {{internship.period}}</p>
        <p class="postdetail">Rating: {{internship.rating}}</p>
      </div>
      <div class="item-center">
        <ul class="detail">
          <!--<li>A ete reconduit en {{internship.contract}}</li>-->
          <li>Salaire: {{internship.salary}}</li>
          <li>Loge: {{internship.residence}}</li>
          <!--<li *ngIf="internship.ifHasCar ;else elseBlock">Voiture de fonction</li>-->
          <ng-template>
            <li>Pas de voiture</li>
          </ng-template>
        </ul>
      </div>
      <div class="item-right">
        <img [src]="internship.stuProfile" height="150" width="150">
        <p>{{internship.stuName}}</p>
      </div>
    </div>
  </div>
</div>
