<div class="internship" xmlns="http://www.w3.org/1999/html">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <div class="internshipInfo">
    <div class="item">
      <div class="item-left">
        <span>UX Designer</span>
        <p>Duree: 6mois</p>
        <span>******</span>
      </div>
      <div class="item-center">
        <ul>
          <li>A ete reconduit en CDI</li>
          <li>Salaire eleve</li>
          <li>Loge</li>
          <li>Voiture de fonction</li>
        </ul>
      </div>
      <div class="item-right">
        <span><img src="icon.tiff" style="height:20px;width:20px;" alt=""></span>
        <p>Jean</p>
        <span>MEDECIN</span>
      </div>
    </div>
  </div>
</div>
