.card-header{
  font-size: 35px;
}
#stagehead{
  background-color: #F1ECB9
}

#salary, #loge, #rating, #period{
  height: 40px;
  width: 40px;
}

.row{
  margin-top: 10px;
}
button {
  border-radius: 15px;
  background-color: #51a59b;
  border:none;
  color:white;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  padding: 5px;
  font-size:24px;
  cursor: pointer;
}
