<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<footer class="page-footer">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 animated fadeInLeft" id="left1">
      <h2>
        <p class href="http://unice.fr/polytechnice/fr/">
          <img src="http://unice.fr/polytechnice/fr/contenus-riches/images/logo-polytech-blanc/image_full" alt="Polytechnice" id="img1">
        </p>
      </h2>
      <p>Campus SophiaTech, 930 route des Colles, BP 145, 06903 Sophia Antipolis</p>
    </div>
    <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="row">
          <p class href="http://unice.fr" title="UNSA">
            <img src="http://unice.fr/polytechnice/fr/contenus-riches/images/logos/uns-traits-blancs/image_full" alt="UNSA" id="img2">
          </p>
      </div>
    </div>
    <div class="col-md-2 footer-nav animated fadeInUp liens_footer" id="liens">
      <br>
      <ul>
        <li>
          <a href="http://unice.fr/polytechnice/fr/formation">Formation</a>
        </li>
        <li>
          <a href="http://unice.fr/polytechnice/fr/vie-etudiante">Vie étudiante</a>
        </li>
        <li>
          <a href="http://unice.fr/polytechnice/fr/campus">Campus</a>
        </li>

      </ul>
    </div>
    <div class="col-md-3">
      <!-- Copyright -->
      <br>
      <br>
      <br>
      <div class="footer-copyright" id="copyright">© 2019 Copyright:
        <a href="http://localhost:4200/homePage"> HmjStage.com</a>
      </div>
      <!-- Copyright -->
    </div>

  </div>


</footer>
