<div class="company">
  <div class="header">
    <span>Apple Iconsiam - Bangkok </span>
  </div>
  <div class="main">
    <div class="left">
      <span>Address: 299 Charoen Nakhon Rd, Khwaeng Khlong Ton Sai, Khet Khlong San</span>
      <p>Krung Thep Maha Nakhon 10600, Thailand</p>
      <span>nombre d'employee: 2000</span>
      <p>***************************</p>
      <p>***************************</p>
      <p>***************************</p>
    </div>
    <div class="right">
        <img src="http://static.asiawebdirect.com/m/bangkok/portals/bangkok-com/homepage/pagePropertiesOgImage/bangkok.jpg.jpg" alt="image">
    </div>
  </div>
  <div class="search">
    <span><input type="text">&nbsp;&nbsp;&nbsp;</span>
    <span><input type="checkbox" name="category" value="A ete reconduit CDD/CDI">A ete reconduit CDD/CDI &nbsp;&nbsp;&nbsp;</span>
    <span><input type="checkbox" name="category" value="Voiture de fonction">Voiture de fonction&nbsp;&nbsp;&nbsp;</span>
    <span><input type="button" name="comfirm" value="verifier" id="confirm_button">&nbsp;&nbsp;&nbsp;</span>
    <span style="display: inline-block; float: right; margin-right: 50px">9 resultats</span>
  </div>
  <app-internship-list></app-internship-list>
</div>
