<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<ul class="navigation">
  <li><a href="homePage">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">Contact</a></li>
</ul>
<body ng-app="myApp">
<div class="jumbotron">
  <div class="container">

    <br>

    <app-company-card></app-company-card>

    <br>

    <app-search-form></app-search-form>
    <app-internship-list></app-internship-list>


    <footer class="page-footer font-small blue pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="http://localhost:4200/homePage"> Huangmajia.com</a>
      </div>
      <!-- Copyright -->

    </footer>
  </div>
</div>
</body>
