<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="http://www.polytech.unice.fr">
    <img src="https://d1guu6n8gz71j.cloudfront.net/system/asset/logos/209126/logo.png?1446572859" alt="">
  </a>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="homePage">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search-companies">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search-internship">Internship</a>
      </li>

    </ul>
    <!-- Links -->

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<body ng-app="myApp">
<div class="jumbotron">
  <div class="container">

    <br>

    <app-company-card></app-company-card>

    <br>

    <app-search-form></app-search-form>
    <app-internship-list (clickEventList)="onClick($event)"></app-internship-list>


    <footer class="page-footer font-small blue pt-4">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="http://localhost:4200/homePage"> Huangmajia.com</a>
      </div>
      <!-- Copyright -->

    </footer>
  </div>
</div>
</body>
