.container{
  width: 100%;
  height: 100%;
}


.backhead{
  background: url("../../../imgs/p4.jpg") no-repeat;
  width:100%;
  height:350px;
  background-size:100% 100%;
}

.main{
  width: 100%;
  height: 35%;
  margin: 10px;
  display: flex;
}

.left{
  height: 100%;
  border: 1px solid #282828;
  padding: 5px;
}

.right img{
  float: right;
  width: 60%;
  height: 60%;
}

app-internship-list{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
