<div class="card" >
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">Information sur le pays</h5>
    <br>
    <p class="card-text">
      {{oneCountry.introduction}}
      <!--Les profils les plus recherchés semblent être les ingénieurs, les personnes travaillant dans les achats et la logistique, puis les informaticiens très techniques (développeurs, etc…).Les postes de commercial ou marketing peuvent se trouver également mais la concurrence y est la plus rude et à moins de s’adresser qu’à une clientèle d’occidentaux, ou de jouer « le blanc de service », ces postes nécessiteront un niveau de chinois souvent avancé.-->
      <br>
      <br>
      <br>
      <!--Opportinité d'embauche dans le pays : plein-->
      Opportinité d'embauche dans le pays : {{oneCountry.hiringOpportunities}}
    </p>
  </div>
</div>
