<div class="row" id="banner">
  <br><br><br><br>
</div>
<div class="container-fluid shadow p-3 mb-5 bg-white rounded" style="background: white;margin-top: 100px" *ngIf="company">

  <div class="row">
    <div class="col-4">
      <div id="company_name" class="col">{{company.name}}</div>
      </div>
  <div class="col-4">
    <div class ="row">
      <label id="secteur" class="col">Secteur:  {{company.activitySector}}</label>
    </div>
    <div class="row">
      <label id="avis" class="col">Avis:
        <i *ngFor="let item of visaFullStarsArray" class="fas fa-star"></i>
        <i *ngFor="let item of visaEmptyStarsArray" class="far fa-star"></i>
        <br></label>
    </div>
    <div class="row">
      <label class="col">Adresse:  {{company.address}}</label>
    </div>
    <div class="row">
      <label class="col">Année de création:  {{company.creationDate}}</label>
    </div>
  </div>
    <div class="col-4">
      <img class="icon" [src]="company.iconImage" [height]="150" [width]="150"  alt="">
    </div>
  </div>
</div>

