@import '../../../styles/card.scss';

.company {
  width: 100%;
  background: white;
}


.icon {
  border-color: #282828;
  display: inline-block;

}
//.col-sm-6 {
//  display:inline-block;
//  width: 70%;
//  margin-left: 30px;
//}

//[class*='col-'] {
//  float: left;
//  min-height: 1px;
//  width: 50%;
//}
.container{
  border:1px groove black;
}

#company_name{
  font-family: "Apple Braille";
  font-size: 30px;
}
