<h3>Quel sont tes criteres?</h3>
<form class="form" [formGroup]="searchForm">
  <label>A propos de toi:
    <select id="filiere" [formControlName]="'filiere'" (change)="sectorChange($event.target.value)">
      <option value="all" selected disabled hidden>filiere</option>
      <option *ngFor="let currentFiliere of sectorArray" [value]="currentFiliere">
        {{currentFiliere}}
      </option>
    </select>
    <select  id="specialite" [formControlName]="'specialite'">
      <option value="all" selected disabled hidden>specialite</option>
      <option *ngFor="let currentSpecialite of specialtyArray" [value]="currentSpecialite">
      {{currentSpecialite}}
      </option>
    </select>
  </label>
  <br>
  <label>A propos de entreprise:
    <select  id="continent" [formControlName]="'continent'">
      <option value="all" selected disabled hidden>continent</option>
      <option *ngFor="let currentContinent of CONTINENT_LIST" [value]="currentContinent">
        {{currentContinent}}
      </option>
    </select>
    <select  id="secteur" [formControlName]="'secteur'" >
      <option value="all" selected disabled hidden>secteur</option>
      <option *ngFor="let currentSecteur of SECTEUR_LIST" [value]="currentSecteur">
          {{currentSecteur}}
      </option>
    </select>
    <select  id="taile" [formControlName]="'taile'">
      <option value="all" selected disabled hidden>taile</option>
      <option *ngFor="let currentTaile of TAILE_LIST" [value]="currentTaile">
            {{currentTaile}}
      </option>
    </select>
  </label>
  <button [value]="" (click)="companyFilter()">submit</button>
</form>
