<h3>Quel sont tes criteres?</h3>
<form class="user-form" [formGroup]="userForm" (change)="userFilter()">
  <label>A propos de toi:
    <select id="filiere" [formControlName]="'filiere'">
      <option value="" selected disabled hidden>filiere</option>
      <option *ngFor="let currentFiliere of FILIERE_LIST" [value]="currentFiliere">
        {{currentFiliere}}
      </option>
    </select>
    <select  id="specialite" [formControlName]="'specialite'">
      <option value="" selected disabled hidden>specialite</option>
      <option *ngFor="let currentSpecialite of SPECIALITE_LIST" [value]="currentSpecialite">
      {{currentSpecialite}}
      </option>
    </select>
  </label>
</form>
  <br>
<form class="company-form" [formGroup]="companyForm" (change)="companyFilter()">
  <label>A propos de entreprise:
    <select  id="continent" [formControlName]="'continent'">
      <option value="" selected disabled hidden>continent</option>
      <option *ngFor="let currentContinent of CONTINENT_LIST" [value]="currentContinent">
        {{currentContinent}}
      </option>
    </select>
    <select  id="secteur" [formControlName]="'secteur'" >
      <option value="" selected disabled hidden>secteur</option>
      <option *ngFor="let currentSecteur of SECTEUR_LIST" [value]="currentSecteur">
          {{currentSecteur}}
      </option>
    </select>
    <select  id="taile" [formControlName]="'taile'">
      <option value="" selected disabled hidden>taile</option>
      <option *ngFor="let currentTaile of TAILE_LIST" [value]="currentTaile">
            {{currentTaile}}
      </option>
    </select>
  </label>
</form>
