@import '../../../styles/card.scss';

button {
  background-color: transparent;
  border: none;
  font-size: 1em;
}
select{
  //margin-right: 10px;
  width: 150px;
}

.container{
  border-bottom: solid 2px black;
}

#bot{
  margin-bottom: 100px;
}
