@import '../../../styles/card.scss';

button {
  background-color: transparent;
  border: none;
  font-size: 1em;
}
select{
  //margin-right: 10px;
  width: 150px;
}

.container{
  border-bottom: solid 2px black;
}
h1{
  font-size: 5em;
  color:dimgrey;
  text-shadow:4px 4px 0 rgba(236,144,79, 0.6);
}

#bot{
  margin-bottom: 60px;
}
select{
  width: 90%;
  height:45px;
  font-size: 30px;
}
h3{
  color:orangered;
}
.input-group{
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 40px;
}
