<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <h3>Quels sont vos critères?</h3>
  </div>
<br>

  <div class="row">
    <form class="form" [formGroup]="searchForm" (change)="companyFilter()">
          <select id="secteur" [formControlName]="'secteur'" >
            <option value="" selected disabled hidden>secteur d'entreprise </option>
            <option value = "">secteur d'entreprise</option>
            <option *ngFor="let currentSecteur of SECTEUR_LIST" [value]="currentSecteur.name">
              {{currentSecteur.name}}
            </option>
          </select>
          <select  id="size" [formControlName]="'size'">
            <option value="" selected disabled hidden>taille</option>
            <option value = "">taille</option>
            <option *ngFor="let currentTaille of TAILLE_LIST" [value]="currentTaille.num">
              {{currentTaille.num}}
            </option>
          </select>
    </form>
  </div>
</div>
