
<!--<mat-card class="border">-->
  <!--<mat-card-header>-->
    <!--<div mat-card-avatar class="example-header-image"></div>-->
  <!--</mat-card-header>-->
  <!--<mat-card-content>-->

    <!--<p>{{review.review}}</p><br>-->
    <!--<p>{{review.student}}</p>-->



  <!--</mat-card-content>-->
<!--</mat-card>-->

<div class="card">
  <div class="card-header">
    Impression
  </div>
  <div class="card-body">
    <h5 class="card-title">{{review.student}}</h5>
    <p class="card-text">{{review.review}}</p>
  </div>
</div>
