<!--Navbar-->
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="nav">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="http://www.polytech.unice.fr" id="icon">
      <img id="schoolicon" src="http://unice.fr/polytechnice/fr/contenus-riches/images/logo-polytech-blanc/image_full" alt="">
    </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="homePage" id="nav-home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" id="navbarDropdownMenuLink" data-toggle="dropdown" (click)="show=!show">
            Pays
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" [ngClass]="{show: show === true}">
            <li><a class="dropdown-item" href="/country?id=2">Thailand</a></li>
            <li><a class="dropdown-item" href="/country?id=3">Australie</a></li>
            <li><a class="dropdown-item" href="/country?id=1">Chine</a></li>
            <li><a class="dropdown-item" href="/country?id=4">Etas-Unis</a></li>
          </ul>
        </div>
        <li class="nav-item active">
          <a class="nav-link" href="/search-companies" id="nav-com">Entreprises</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/search-internship" id="nav-intern">Stages</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" id="nav-contact">Rendez-vous</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" id="nav-log">
            <img src="https://www.ifun.tv/assets/images/logon.png" alt="" id="user">
            Connexion</a>
        </li>

      </ul>

    </div>

  </nav>
</div>
