<!--Navbar-->
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="http://www.polytech.unice.fr">
      <img src="http://unice.fr/polytechnice/fr/contenus-riches/images/logo-polytech-blanc/image_full" alt="">
    </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="homePage" id="nav-home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search-companies" id="nav-com">Entreprises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search-internship" id="nav-intern">Stages</a>
        </li>

      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
</div>
