<!--Navbar-->
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="nav">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="http://www.polytech.unice.fr" id="icon">
      <img id="schoolicon" src="http://unice.fr/polytechnice/fr/contenus-riches/images/logo-polytech-blanc/image_full" alt="">
    </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="homePage" id="nav-home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="/country?id=1" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pays
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Thailand</a>
            <a class="dropdown-item" href="#">Australie</a>
            <a class="dropdown-item" href="#">Chine</a>
            <a class="dropdown-item" href="#">Etas-Unis</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="search-companies" id="nav-com">Entreprises</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="search-internship" id="nav-intern">Stages</a>
        </li>

      </ul>

    </div>

  </nav>
</div>
