.header{
  width: 100%;
  /*background-color: rgb(26,72,116);*/
}

#nav{
  background-color: rgb(26,72,116);
}

#nav-home{
  font-size: 40px;
  margin-right: 50px;
}

#nav-com{
  font-size: 40px;
  margin-right: 50px;
}

#nav-intern{
  font-size: 40px;
  margin-right: 50px;
}

#icon{
  margin-right: 50px;
}
