.container-fluid {
  padding-top: 180px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  }

  .country-infos-td {
    width: 100%;
  }

  .country-infos {
    margin: 20px;
    font-size: 20px;
    line-height: 130%
  }

  .company-array {
    margin: 20px;
  }

  .tabulation {
      margin-left: 30px;
  }


  .country-image {
      height: 400px;
      width: 300px;
      margin: 5px;
  }

  td {
    vertical-align: top;
  }

  .country-page.form {
    text-align-last: right;
  }

  .custom-select {
    margin: 5px;
  }

  .sizeArray {
    font-size: 14px;
  }
