  .country-page {
      margin: 50px;
  }

  .country-infos-td {
    width: 100%;
  }

  .country-infos {
    margin: 20px;
    font-size: 14px;
    line-height: 130%
  }

  .company-array {
    margin: 20px;
  }

  .tabulation {
      margin-left: 30px;
  }
  

  .country-image {
      height: 300px;
      width: 300px;
      margin: 5px;      
  }

  td {
    vertical-align: top;
  }

  .country-page.form {
    text-align-last: right;
  }

  .custom-select {
    margin: 5px;    
  }

  .sizeArray {
    font-size: 14px;
  }