<div class="country-page" *ngIf="oneCountry != null">

    <h1>{{oneCountry.name}}</h1>

    <fieldset>
        <legend>Information sur le pays</legend>
        <table>
            <tr>
                <td class="country-infos-td ">
                    <div class="country-infos">
                        {{oneCountry.introduction}}<br>
                        <br>
                        Démarche pour avoir un visa :<br>
                        <div class="tabulation">
                            - Facilité :
                                <i *ngFor="let item of visaFullStarsArray" class="fas fa-star"></i>
                                <i *ngFor="let item of visaEmptyStarsArray" class="far fa-star"></i><br>
                            - Informations :
                                <a [href]=oneCountry.visaWeb>{{oneCountry.name+' visa information'}}</a>
                        </div><br>
                        Logements partenaires :
                        <div class="tabulation" *ngFor="let partnerHousing of partnerHousingList">
                            - {{partnerHousing.name}} : <a [href]="partnerHousing.webSite" target="_blank">{{partnerHousing.webSite}}</a>
                        </div><br>
                        Opportinité d'embauche dans le pays : {{oneCountry.hiringOpportunities}}
                    </div>
                </td>
                <td>
                    <img class="country-image" [src]="oneCountry.photoPath"/>
                </td>
            </tr>
        </table>
    </fieldset>

    <br>
  <app-company-form></app-company-form>


            <div *ngFor="let company of companyList">
                <app-company-search [company]="company"></app-company-search>
            </div>
        </div>

