<div class="country-page" *ngIf="country != null">

        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
        <h1>{{country.name}}</h1>
        <table>
            <tr>
                <td class="country-infos-td ">
                    <div class="subTitle">Information sur le pays</div>
                    <div class="country-infos">
                        {{country.information}}<br>
                        <br>
                        Démarche pour avoir un visa :<br>
                        <div class="tabulation">
                            - Facilité :
                                <i *ngFor="let item of visaFullStarsArray" class="fas fa-star"></i>
                                <i *ngFor="let item of visaEmptyStarsArray" class="far fa-star"></i><br>
                            - Informations :
                                <a href="{{country.visaInformation}}" target="_blank">{{country.visaInformation}}</a>
                        </div><br>
                        Logements partenaires :
                        <div class="tabulation" *ngFor="let partnerHousing of partnerHousingList">
                            - {{partnerHousing.name}} : <a href="{{partnerHousing.webSite}}" target="_blank">{{partnerHousing.webSite}}</a>
                        </div><br>
                        Opportinité d'embauche dans le pays : {{country.hiringOpportunities}}
                    </div>
                </td>
                <td>
                    <img class="country-image" src={{country.photoPath}}/>
                </td>
            </tr>
        </table>

        <br>

        <div class="list-of-company">
            <div class="subTitle">Liste des entreprises où des étudiants on fait leur stage</div>
            
            <form class="country-page-form" [formGroup]="countryPageForm">

                Filtre :

                <select class="custom-select" [formControlName]="'sector'" (change)="sectorChange($event.target.value)">
                    <option>- Filière -</option>
                    <option *ngFor="let sector of sectorArray">
                            {{sector}}
                    </option>
                </select>

                <select class="custom-select" [formControlName]="'specialty'" (change)="formChange()">
                    <option>- Spécialité -</option>
                    <option *ngFor="let specialty of specialtyArray">
                            {{specialty}}
                    </option>
                </select>

                <select class="custom-select" [formControlName]="'activitySector'" (change)="formChange()">
                    <option>- Secteur d'activité -</option>
                    <option *ngFor="let activitySector of activitySectorArray">
                            {{activitySector}}
                    </option>
                </select>

                <select class="custom-select" [formControlName]="'size'" (change)="formChange()">
                    <option>- Taille de l'entreprise -</option>
                    <option *ngFor="let size of sizeArray">
                            {{size}}
                    </option>
                </select>
            </form>
            
            <div class="tabulation" *ngFor="let company of companyList">
                - {{company.name}}
            </div>
        </div>
  </div>
  