h1{
  margin-top: 80px;
  font-size: 5em;
  color:rgba(67,153,97,.5);
  text-shadow:4px 4px 0 rgba(236,144,79, 0.6);
}

.wrap{
 margin-top: 60px;
  background-color: white;
  opacity: 0.85;
  margin-left: 20%;
  border-radius: 15px;
  border: grey 2px;
}
.row{
  margin-bottom: 30px;
}
label{
  font-size: 30px;
  width: 180px;
  color: dimgrey;
  align:left;
}
#bg{
  background-image: url("../../imgs/bg2.jpg");
  background-size: cover;
  padding: 150px;
}
p{
  color:white;
  font-size: 40px;
}
#time{
  color:gold;
}
#place{
  color:gold;
}
button {
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: dimgrey;
  border:none;
  color:white;
  padding:15px 20px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:26px;
  cursor: pointer;
  width: 150px;
  margin-left: 30px;
}
