<div class="company" xmlns="http://www.w3.org/1999/html" (click)="onClick(company.id)" >
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <img class="icon" [src]="company.iconImage" [height]="100" [width]="100" >
  <div class="companyInfo">
    <div class="row">
      <label id="name of company" class="col-1">Nom entreprise:{{company.name}}</label>
      <!--<label id="type intern" class="col-2">Type de stage proposé :{{company.internshipType}}</label>-->
    </div>
    <div class ="row">
      <label id="secteur" class="col-1">Secteur:{{company.activitySector}}</label>
      <!--<label id="opportunity" class="col-2">Opportunité d'embauche :{{company.opportunity}}</label>-->
    </div>
    <div class="row">
      <label id="avis" class="col-1">Avis:{{company.rating}}</label>
    </div>

  </div>

</div>
