@import '../../../styles/card.scss';

.company {
  width: 100%;
  background: white;
}

.company:hover {
  cursor: pointer;
}

.icon {
  border-color: #282828;
  display: inline-block;

}
.companyInfo {
  display:inline-block;
  width: 70%;
  margin-left: 30px;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 50%;
}
