<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
  <!--<div class="container">-->
    <!--<img [src]="Imgsrc" height="200" width="350">-->
    <!--<p>Une sessionde partage d’expérience de stage à l’étranger aura lieu dans la salle de conférence le vendredi après-midi.</p>-->
  <!--</div>-->
  <div class="card" style="width: 22rem;">
    <img class="card-img-top" [src]="Imgsrc" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Une sessionde partage d’expérience de stage à l’étranger aura lieu dans la salle de conférence le vendredi après-midi.</p>
    </div>
  </div>
</body>
