@import '../../../styles/card.scss';

.card-ticket {
  width: 3cm;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.h1 {
  align-content: center;
  width: 3cm;
}

.content{
  width: inherit;
  height: inherit;
}

.country-image {
  width: 100%;
}
.border:hover {
  cursor: pointer;
}

.info {
  width: 90%;
  border-style: solid;
  border-width: 1px;
}

#image{
  width: 300px;
  height: 180px;
}
i{
  font-size:30px;
}
button {
  border-radius: 15px;
  background-color: #2a5caa;
  border:none;
  color:white;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  padding: 5px;
  font-size:24px;
  cursor: pointer;
}
