@import '../../../styles/card.scss';

.card-ticket {
  width: 3cm;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.h1 {
  align-content: center;
  width: 3cm;
}

.content{
  width: inherit;
  height: inherit;
}

.country-image {
  width: 100%;
}
.ticket:hover {
  cursor: pointer;
}

.info {
  width: 90%;
  border-style: solid;
  border-width: 1px;
}

