<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div class="container-fluid" id="logement_list">
  <p>{{logeList.length}} logements à découvrir: </p>
  <div fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="">
    <mat-card class="company" *ngFor="let loge of logeList">
      <app-loge [loge]="loge"></app-loge>
    </mat-card>
  </div>
</div>
