// You can apply style directly to a component
.container-fluid{
  margin-left:10%;
}
#company-list {
  width: 85%;
  //flex-direction: column;
  //align-items: center;
  display: flex;
  justify-content: center;
}

p{
  font-size: 35px;
}
