.form-wrap{
  border: grey 1px;
  background-color: white;
  opacity: 0.85;
  margin-top: 180px;
  padding-left: 16px;
  border-radius: 15px;
}
.container-fluid{
  background-image: url("../../imgs/img_4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0,0;
}
.row{
  margin-right:0;
}

button {
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: dimgrey;
  border:none;
  color:orangered;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:26px;
  cursor: pointer;
  width: 50%;
}
label{
  font-size: 40px;
  color: dimgrey;
}
form{
  margin-bottom: 200px;
  margin-right: 30px;
}
.btn{
  margin-bottom: 100px;
  width: 150px;
  background-color:dimgrey;
}
.radio{
  width:26px;
  height:26px;
}
#note{
  color:red;
}
#login1{
  background-color: white;
}
#signup2{
  background-color: white;
}
