 <div class="container-fluid">
    <div class="row">
          <div class="col-7">
            <span>Welcome to Splash</span>
            <h1>Build website using this template.</h1>
          </div>
          <div class="col-5" >
            <div class="form-wrap">
              <div class="tab">
                <div class="row">
                  <button id="signup" (click)="onClickSign()">Sign up</button>
                  <button id="login" (click)="onClickLogin()">Login</button>
                </div>
              </div>
              <div *ngIf="showsign">
                <div class="form-content">
                    <form action="#">
                      <div class="row form-group">
                        <div class="col-12">
                          <label for="username1">Username or Email</label>
                          <input type="text" class="form-control" id="username1">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-12">
                          <label for="password1">Password</label>
                          <input type="password" class="form-control" id="password1">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-12">
                          <label for="password">Repeat Password</label>
                          <input type="password" class="form-control" id="password">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-12">
                          <input type="submit" class="btn btn-primary" value="Sign up" (click)="SubmitSign()">
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div *ngIf="showlogin">
                    <form action="#">
                      <div class="row form-group">
                        <div class="col-md-12">
                          <label for="username2">Username or Email</label>
                          <input type="text" class="form-control" id="username2" [(ngModel)]="userLogin">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-12">
                          <label for="password2">Password</label>
                          <input type="password" class="form-control" id="password2" [(ngModel)]="passLogin">
                        </div>
                      </div>

                      <div class="row form-group">
                        <div class="col-md-12">
                          <input type="submit" class="btn btn-primary" value="Login" (click)="submitLogin(userLogin,passLogin)">
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>

