// You can apply style directly to a component

.mapWorld {
  fill: #bdbdbd;
}

.mapWorld path.CN {
  fill: #ff333b;
}
.mapWorld path.CN:hover {
  fill: #ab2b2b;
}

.mapWorld path.FR {
  fill: #dc80ff;
}
.mapWorld path.FR:hover {
  fill: #9154a8;
}

.mapWorld path.TH {
  fill: #7efff0;
}
.mapWorld path.TH:hover {
  fill: #51a59b;
}

.mapWorld path.US {
  fill: #a6ff1b;
}
.mapWorld path.US:hover {
  fill: #78a64b;
}
