<div class="container-fluid">
   <div class = "row">
     <div class = "col-4" id="row1-pic"></div>
     <div class = "col-8 row-text" align="center">
       <p class="title-inner">About us</p>
       <p class="text-inner">The HmjStage website was created in 2019 in Nice Sophia Polytech. The developers of the website are two students of SI3. This website is mainly to provide students with information about internships abroad. Feel free to contact us and give us important comments on website improvements.</p>
     </div>
   </div>
  <div class="row">
    <br>
    <br>
  </div>
  <div class = "row">
    <div class = "col-8 row-text" align="center">
      <p class="title-inner">Join us</p>
      <p class="text-inner">If you are good at web development, or if you are interested in website management, welcome to join our development team.</p>
      <p class="text-inner">
        <a href="mailto:jiazhen.liu@etu.unice.fr">
          <span class="fas fa-envelope"></span>
          jiazhen.liu@etu.unice.fr
        </a>
      </p>
      <p class="text-inner">
        <a href="mailto:hanting.wang@etu.unice.fr">
          <span class="fas fa-envelope"></span>
          hanting.wang@etu.unice.fr
        </a>
      </p>
    </div>
    <div class = "col-4" id="row2-pic"></div>
  </div>
  <div class="row">
    <br>
    <br>
  </div>
</div>
