<div class="card" style="width: 18rem;">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">Démarche pour avoir un visa :</h5>
    <p class="card-text">
        - Facilité :
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i><br>
        - Informations :
          Si vous êtes français, vous avez besoin d’un visa pour votre voyage en Chine
      (Pékin, Shanghai, Shenzhen etc). Nous effectuons les formalités à votre place au
      centre de visa chinois...
    <!--<a [href]=oneCountry.visaWeb>{{oneCountry.name+' visa information'}}</a>-->
    </p>
    <a href="https://www.rapidevisa.fr/Visa/Chine.html" class="btn btn-primary">Plus d'information</a>
  </div>
</div>
