<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<p>{{internshipList.length}} stages à découvrir: </p>
<ul class="list-group list-group-flush" id="internlist">
  <li class="list-group-item" *ngFor="let internship of internshipList">
      <app-internship [internship]="internship" (clickEvent)="onClick($event)"></app-internship>
  </li>
</ul>
