// You can apply style directly to a component

.mapWorld {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.countryList {
  width: 80%;
  margin: auto;
}
.title{
  display: block;
  width: 60%;
  margin: 10px auto 40px;
}

button{
  display: table;
  font-size: 25px;
  width: 40%;
  margin: 1px auto 200px;
}

