// You can apply style directly to a component

.mapWorld {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.countryList {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.title, button{
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

