<div class="container-fluid" >
<div class="row">
  <h1>Dans quel pays veux tu partir pour faire ton stage?</h1>
</div>
<br>
<div class="but" align="center">
  <div >
  <button  onclick="window.location.href = 'http://localhost:4200/search-companies';"> Je ne sais pas aller quel pays et veux voir tous les stages</button>
  </div>
</div>
<br>
<div class="mapWorld" align="center">
  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1559210866756&di=6e49ccfe90ce2cded012528f9b226908&imgtype=0&src=http%3A%2F%2Fbpic.588ku.com%2Felement_origin_min_pic%2F17%2F01%2F09%2F3e9a49bfce93d66196deaee420c628ab.jpg" width="1400 " height="800">
</div>

<div class="countryList" align="center">
  <app-country-ticket-list
    (ticketEventList)="ticketEvent($event)"
    (clickEventList)="onClick($event)"></app-country-ticket-list>
</div>

<app-card-information [ticket]="this.countrySelected" [visaFullStarsArray]="this.visaFullStarsArray" [visaEmptyStarsArray]="this.visaEmptyStarsArray" ></app-card-information>

</div>
