<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <h3>Quels sont vos critères?</h3>
  </div>
<br>

  <div class="row">
    <form class="form" [formGroup]="stuForm" (change)="stuformChange()">
      <div class="row">
        <div class="col-4">
          <label>A propos de vous:</label>
        </div>
        <div class="col-4">
          <select id="sector" [formControlName]="'sector'" (change)="sectorChange($event.target.value)">
            <option value="" selected disabled hidden>filiere</option>
            <option value = "">filiere</option>
            <option *ngFor="let currentSector of SECTOR_LIST" [value]="currentSector.name">
              {{currentSector.name}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <select  id="specialty" [formControlName]="'specialty'">
            <option value="" selected disabled hidden>specialite</option>
            <option value = "">specialty</option>
            <option *ngFor="let currentSpecialty of SPECIALTY_LIST" [value]="currentSpecialty.name">
              {{currentSpecialty.name}}
            </option>
          </select>
        </div>
      </div>
    </form>
    <form class="form" [formGroup]="companyForm" (change)="comformChange()">
      <br>
      <div class="row">
        <div class="col-3">
          <label>A propos de entreprise:</label>
        </div>
        <div class="col-3">
          <select  id="country" [formControlName]="'country'">
            <option value="" selected disabled hidden>country</option>
            <option value = "">country</option>
            <option *ngFor="let currentCountry of COUNTRY_LIST" [value]="currentCountry.name">
              {{currentCountry.name}}
            </option>
          </select>
        </div>
        <div class="col-3">
          <select id="secteur" [formControlName]="'secteur'" >
            <option value="" selected disabled hidden>secteur</option>
            <option value = "">secteur</option>
            <option *ngFor="let currentSecteur of SECTEUR_LIST" [value]="currentSecteur">
              {{currentSecteur}}
            </option>
          </select>
        </div>
        <div class="col-3">
          <select  id="size" [formControlName]="'size'">
            <option value="" selected disabled hidden>taille</option>
            <option value = "">taille</option>
            <option *ngFor="let currentTaille of TAILLE_LIST" [value]="currentTaille">
              {{currentTaille}}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
