@import '../../../styles/card.scss';

button {
  background-color: transparent;
  border: none;
  font-size: 1em;
}
select{
  width: 150px;
}
img{
  background: white;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#searchIntern{
  width: 120px;
}

.input-group{
  width: 80%
}
