<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <h3 style="color: #EB5528">Quels sont vos critères?</h3>
  </div>
<br>
  <div class="row">
    <div class="input-group">
      <input id="searchIntern" class="form-control input-group-xs" type = "text" name="searchIntern" [(ngModel)]="searchIntern" placeholder="Entrez ce que vous recherchez">
      <!--<button (click)="onClick(searchIntern)">Chercher</button>-->
      <img src="http://img4.imgtn.bdimg.com/it/u=3012987789,2452251719&fm=26&gp=0.jpg" alt="" id="search" (click)="onClick(searchIntern)">
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <form class="form" [formGroup]="stuForm" (change)="stuformChange()">
      <div class="row">
        <div class="col-8" style="width: 225px;">
          <label>A propos  d'étudiant  :</label>
        </div>
        <div class="col-2">
          <select id="sector" [formControlName]="'sector'" (change)="sectorChange($event.target.value)">
            <option value="" selected disabled hidden>filière</option>
            <option value = "">filière</option>
            <option *ngFor="let currentSector of SECTOR_LIST" [value]="currentSector.name">
              {{currentSector.name}}
            </option>
          </select>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
          <select  id="specialty" [formControlName]="'specialty'">
            <option value="" selected disabled hidden>specialité</option>
            <option value = "">specialité</option>
            <option *ngFor="let currentSpecialty of SPECIALTY_LIST" [value]="currentSpecialty.name">
              {{currentSpecialty.name}}
            </option>
          </select>
        </div>
      </div>
    </form>


    <form class="form" [formGroup]="companyForm" (change)="comformChange()">
      <br>
      <div class="row">
        <div class="col-8" style="width: 225px;">
          <label>A propos d'entreprise:</label>
        </div>
        <div class="col-2">
          <select  id="country" [formControlName]="'country'">
            <option value="" selected disabled hidden>pays</option>
            <option value = "">pays</option>
            <option *ngFor="let currentCountry of COUNTRY_LIST" [value]="currentCountry.id">
              {{currentCountry.name}}
            </option>
          </select>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <select id="secteur" [formControlName]="'secteur'" >
            <option value="" selected disabled hidden>secteur</option>
            <option value = "">secteur</option>
            <option *ngFor="let currentSecteur of SECTEUR_LIST" [value]="currentSecteur.name">
              {{currentSecteur.name}}
            </option>
          </select>
        </div>
      </div>


      <br>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <select  id="size" [formControlName]="'size'">
            <option value="" selected disabled hidden>taille</option>
            <option value = "">taille</option>
            <option *ngFor="let currentTaille of TAILLE_LIST" [value]="currentTaille.num">
              {{currentTaille.num}}
            </option>
          </select>
        </div>
      </div>

    </form>

    <form class="form" [formGroup]="internForm" (change)="internformChange()">
      <br>
      <div class="row">
        <div class="col-8" style="width: 225px;">
          <label >A propos de stage:</label>
        </div>
        <div class="col-4">
          <select id="start" [formControlName]="'start'">
            <option value="" selected disabled hidden>date de début</option>
            <option value = "">date de début</option>
            <option *ngFor="let currentStart of STARTDATE_LIST" [value]="currentStart.name">
              {{currentStart.name}}
            </option>
          </select>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <select  id="period" [formControlName]="'period'">
            <option value="" selected disabled hidden>Durée</option>
            <option value = "">Durée</option>
            <option *ngFor="let currentPeriod of PERIOD_LIST" [value]="currentPeriod.name">
              {{currentPeriod.name}}
            </option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div id="social">
          <img src="http://img3.imgtn.bdimg.com/it/u=2146573912,4053482061&fm=26&gp=0.jpg" class="picture" height="100" width="100">
          <img src="http://img3.imgtn.bdimg.com/it/u=869678596,1023067739&fm=26&gp=0.jpg" class="picture" height="100" width="100">
          <img src="http://img2.imgtn.bdimg.com/it/u=1811348395,3457520987&fm=26&gp=0.jpg" class="picture" height="100" width="100">
        </div>
      </div>
    </form>
  </div>

</div>
