<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtJWBKAA-rEEpS4veGfb31iQqmTH2ZFas0ObA1pm-Lw7nG-zZR">
<!--<div class="container-fluid" style="width:100%;padding:0;margin:0;background-repeat: no-repeat;background-size: cover;background-image:url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3408694688,3542607058&fm=27&gp=0.jpg)">-->
  <div class="container-fluid">
    <app-company-form></app-company-form>


    <br>

    <br>

    <app-company-list (clickEventList)="onClick($event)"></app-company-list>

  </div>
</body>
